* {
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-gradient(linear, right top, left top, from(silver), to(white));
  background-image: linear-gradient(to left, silver, white);
}

html {
  scroll-behavior: smooth;
}

.cuerpoGrid {
  /* CONTEINER PADRE INDEX */
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, right top, left top, from(silver), to(white));
  background-image: linear-gradient(to left, silver, white);
      grid-template-areas: 'main1 main2 main3';
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.cuerpoGrid .cuerpoMain1 {
  /* HIJO 1 */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main1;
  display: -ms-grid;
  display: grid;
  margin: 50px;
  padding: 50px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
}

.cuerpoGrid .cuerpoMain2 {
  /* HIJO 2 */
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main2;
  display: -ms-grid;
  display: grid;
  margin: 50px;
  padding: 50px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
}

.cuerpoGrid .cuerpoMain3 {
  /* HIJO 3 */
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: main3;
  display: -ms-grid;
  display: grid;
  margin: 50px;
  padding: 50px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
}

article {
  color: black;
  justify-items: center;
  font-size: 20px;
}

.footerGrid {
  /* Container del footer */
  display: -ms-grid;
  display: grid;
      grid-template-areas: '.  . textoFooter';
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 5px outset white;
  background-image: url(../multimedia/background-maderaBlanca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  color: #fcf3fc;
}

footer .textoFooter {
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: textoFooter;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  border-left: 4px inset white;
  display: block;
  font-size: 24px;
  text-align: center;
  padding: 0%;
  margin: 1%;
}

.cuerpoTerapias {
  background-image: -webkit-gradient(linear, right top, left top, from(silver), to(white));
  background-image: linear-gradient(to left, silver, white);
  border: 4px inset white;
  margin: 9%;
  padding: 0%;
  text-align: center;
}

.mainContacto {
  background-image: url(../multimedia/japanese-umbrellas-636870_1920.jpg);
  height: 100%;
  color: thistle;
}

.contactoGrid {
  /* CONTEINER PADRE pagina contacto */
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, right top, left top, from(silver), to(white));
  background-image: linear-gradient(to left, silver, white);
      grid-template-areas: 'contacto1 contacto2';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0px;
  padding: 0px;
}

.contactoGrid .contacto1 {
  /* HIJO 1 */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contacto1;
  display: -ms-grid;
  display: grid;
  margin: 30px;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
}

.contactoGrid .contacto2 {
  /* HIJO 2 */
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contacto2;
  display: -ms-grid;
  display: grid;
  margin: 30px;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
}

.fondoContacto {
  /* foto de contacto */
  background-image: url(../multimedia/japanese-umbrellas-636870_1920.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  border: 0px inset #4f25c2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fondoTerapias {
  /* foto de terapias */
  background-image: url(../multimedia/origami-3584204_1920.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 450px;
  border: 0px inset #4f25c2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
}

.fondoConoceme {
  /* foto de conoceme */
  background-image: url(../multimedia/fondoConoceme.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 439px;
  border: 0px inset #4f25c2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
}

.fondoPreguntas {
  /* foto de preguntas */
  background-image: url(../multimedia/tori-1976609_1280.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  border: 0px inset #4f25c2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.conocemeGrid {
  /* CONTEINER padre pagina conoceme */
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, right top, left top, from(silver), to(white));
  background-image: linear-gradient(to left, silver, white);
      grid-template-areas: 'conoceme1 conoceme2';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0px;
  padding: 0px;
}

.conocemeGrid .conoceme1 {
  /* HIJO 1  */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: conoceme1;
  display: -ms-grid;
  display: grid;
  margin: 30px;
  padding: 30px;
  text-align: center;
  justify-items: center;
}

.conocemeGrid .conoceme2 {
  /* hijo 2  */
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: conoceme2;
  display: -ms-grid;
  display: grid;
  margin: 30px;
  padding: 30px;
  text-align: center;
  justify-items: center;
}

.preguntasGrid {
  /* CONTEINER PADRE preguntas */
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, right top, left top, from(silver), to(white));
  background-image: linear-gradient(to left, silver, white);
      grid-template-areas: 'preguntas1' 'preguntas2' 'preguntas3' 'preguntas4';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5fr;
      grid-template-rows: 5fr;
  margin: 0px;
  padding: 0px;
}

.preguntasGrid .preguntas1 {
  /* HIJO 1     */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: preguntas1;
  display: -ms-grid;
  display: grid;
  color: black;
  margin: 30px;
  padding: 30px;
  text-align: center;
  justify-items: center;
}

.preguntasGrid .preguntas2 {
  /* HIJO 2    */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: preguntas2;
  display: -ms-grid;
  display: grid;
  color: black;
  margin: 30px;
  padding: 30px;
  text-align: center;
  justify-items: center;
}

.preguntasGrid .preguntas3 {
  /* HIJO 3    */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: preguntas3;
  display: -ms-grid;
  display: grid;
  color: black;
  margin: 30px;
  padding: 30px;
  text-align: center;
  justify-items: center;
}

.preguntasGrid .preguntas4 {
  /* HIJO 4   */
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: preguntas4;
  display: -ms-grid;
  display: grid;
  color: black;
  margin: 30px;
  padding: 30px;
  text-align: center;
  justify-items: center;
}

.animate__animated.animate__heartBeat {
  --animate-duration: 12s;
}

.animate__animated.animate__backInDown {
  --animate-duration: 2s;
}

.animate__animated.animate__flipInX {
  --animate-duration: 5s;
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 4s;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 4s;
}

.trans {
  height: 100px;
  -webkit-transition: height 2s;
  transition: height 2s;
}

.trans:hover {
  height: 200px;
}

.textoCarrusel {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
}

.NuevoFooter {
  background-image: url(../multimedia/background-maderaBlanca.jpg);
  height: 250px;
  width: auto;
}

.redes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes-container ul li {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.redes-container a {
  display: block;
  margin: 8px;
  padding: 0 10px;
  color: black;
  line-height: 50px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
  -webkit-transition: .2s;
  transition: .2s;
}

.redes-container ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes-container ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px black;
          box-shadow: 0 5px 5px 0px black;
  -webkit-filter: none;
          filter: none;
}

.redes-container ul li .whatsapp:hover {
  background: #05b105;
}

.redes-container ul li .email:hover {
  background: blueviolet;
}

.redes-container ul li .linkedin:hover {
  background: #1a1aee;
}

.redes-container ul li .Instagram:hover {
  background: #fd6028;
}

.NavFooter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
}

.NavFooter ul li {
  margin: 0 5px;
  text-align: center;
  display: block;
}

.NavFooter a {
  display: block;
  margin: 8px;
  padding: 0 10px;
  color: black;
  line-height: 40px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 10px 0px #242222;
          box-shadow: 0 3px 10px 0px #242222;
  -webkit-transition: .2s;
  transition: .2s;
}

.NavFooter a:hover {
  color: grey;
}

.NavFooter ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.NavFooter ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.NavFooter ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px black;
          box-shadow: 0 5px 5px 0px black;
  -webkit-filter: none;
          filter: none;
  background: black;
}

.columna1footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: black;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */