@import "mixin";

$fondo: linear-gradient(to left,rgb(211, 209, 209), white);

* {
    @include recet;
}

body { 
    background-image: $fondo;
}

html {
    scroll-behavior: smooth;
}

.cuerpoGrid { /* CONTEINER PADRE INDEX */
    @include containerIndex;


    .cuerpoMain1{   /* HIJO 1 */
      @include cajitas (main1);
    }
    
    .cuerpoMain2{  /* HIJO 2 */
      @include cajitas(main2);
    }
    
    .cuerpoMain3{  /* HIJO 3 */
      @include cajitas(main3); 
    }
    
}

article {
  @include article (black);  
}

.footerGrid {   /* Container del footer */
    @include ContainerFooter();
}


footer .textoFooter {
   @include cajitaFooter(textoFooter);
}

.cuerpoTerapias {
    background-image: $fondo;
    border: 4px inset white;
    margin: 9%;
    padding: 0%;
    text-align: center;
}

.mainContacto {
    background-image: url(../multimedia/japanese-umbrellas-636870_1920.jpg);
    height: 100%;
    color:thistle;
 }
  
.contactoGrid { /* CONTEINER PADRE pagina contacto */
     @include ContainerContacto;


         .contacto1{      /* HIJO 1 */
   
         @include cajitaContacto(contacto1);
         }

         .contacto2{      /* HIJO 2 */
    
         @include cajitaContacto(contacto2);
        }
}

.fondoContacto {     /* foto de contacto */
    @include fondoContacto;
}


.fondoTerapias {     /* foto de terapias */
    @include fondoTerapias;
}

.fondoConoceme {     /* foto de conoceme */
    @include fondoConoceme;
}


.fondoPreguntas {     /* foto de preguntas */
    @include fondoPreguntas;
}


.conocemeGrid { /* CONTEINER padre pagina conoceme */
    @include containerConoceme;


         .conoceme1{      /* HIJO 1  */
          @include cajitasConoceme (conoceme1);
        }

        .conoceme2{      /* hijo 2  */
         @include cajitasConoceme (conoceme2);
        }
}

 .preguntasGrid { /* CONTEINER PADRE preguntas */
   @include containerPreguntas();


     .preguntas1{      /* HIJO 1     */
      @include cajitasPreguntas (preguntas1);
     }

     .preguntas2{      /* HIJO 2    */
      @include cajitasPreguntas(preguntas2);
     }
    
     .preguntas3{      /* HIJO 3    */
      @include cajitasPreguntas(preguntas3);
     }

    .preguntas4{      /* HIJO 4   */
     @include cajitasPreguntas(preguntas4);
     }

}
.animate__animated.animate__heartBeat { 
    --animate-duration: 12s;
  }

.animate__animated.animate__backInDown {
    --animate-duration: 2s;
}

.animate__animated.animate__flipInX  {
    --animate-duration: 5s;
}

.animate__animated.animate__slideInLeft  {
    --animate-duration: 4s;
}
.animate__animated.animate__zoomIn {
    --animate-duration: 4s;
}

.trans {
    height: 100px;
    transition: height 2s;
}

.trans:hover{
    height: 200px;
}

.textoCarrusel {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

.NuevoFooter {
    background-color: black;
    height: 200px;
    width: auto;
}
