@import "mixin";

$fondo: linear-gradient(to left,rgb(211, 209, 209), white);

* {
    @include recet();
}


body { 
    background-image: $fondo;
}

html {
    scroll-behavior: smooth;
}

.cuerpoGrid { /* CONTEINER DEL MAIN INDEX */
    @include containerIndex();
}

    .cuerpoMain1{      /* HIJO 1 */
        grid-area: main1;
        @include cajitas();
            
    }
    
    .cuerpoMain2{  /* HIJO 2 */
        grid-area: main2;
        @include cajitas();
            
    }
    
    
    .cuerpoMain3{  /* HIJO 3 */
        grid-area: main3;
        @include cajitas(); 
            
    }
    
article {
        @include article();  
}

.footerGrid {   /* Container del footer */
    @include ContainerFooter();
}


footer .textoFooter {
   @include cajitaFooter();
}

.cuerpoTerapias {
    background-image: $fondo;
    border: 4px inset white;
    margin: 9%;
    padding: 0%;
    text-align: center;
}

.mainContacto {
    background-image: url(../multimedia/japanese-umbrellas-636870_1920.jpg);
    height: 100%;
    color:thistle;
 }
  
.contactoGrid { /* CONTEINER DEL MAIN pagina contacto */
     @include ContainerContacto();
}

.contacto1{      /* HIJO 1 */
    grid-area: contacto1;
   @include cajitaContacto();
}

.contacto2{      /* HIJO 2 */
    grid-area: contacto2;
  @include cajitaContacto();
}


.fondoContacto {     /* foto de contacto */
    @include fondoContacto();
}


.fondoTerapias {     /* foto de terapias */
    @include fondoTerapias();
}

.fondoConoceme {     /* foto de conoceme */
    @include fondoConoceme();
}


.fondoPreguntas {     /* foto de preguntas */
    @include fondoPreguntas();
}


.conocemeGrid { /* CONTEINER DEL MAIN pagina conoceme */
    @include containerConoceme();
}

.conoceme1{      /* HIJO 1  */
   grid-area: conoceme1;
  @include cajitasConoceme();
   
}

.conoceme2{      /* hijo 2  */
   grid-area: conoceme2;
  @include cajitasConoceme();
}


.preguntasGrid { /* CONTEINER DEL MAIN preguntas */
   @include containerPreguntas();
}


.preguntas1{      /* HIJO 1     */
   grid-area: preguntas1;
  @include cajitasPreguntas();
   
}

.preguntas2{      /* HIJO 2
    */
   grid-area: preguntas2;
   @include cajitasPreguntas();
   
}
.preguntas3{      /* HIJO 3
    */
   grid-area: preguntas3;
   @include cajitasPreguntas();
   
}

.preguntas4{      /* HIJO 4   */
   grid-area: preguntas4;
   @include cajitasPreguntas();
   
}

.animate__animated.animate__heartBeat { 
    --animate-duration: 12s;
  }

.animate__animated.animate__backInDown {
    --animate-duration: 2s;
}

.animate__animated.animate__flipInX  {
    --animate-duration: 5s;
}

.animate__animated.animate__slideInLeft  {
    --animate-duration: 4s;
}
.animate__animated.animate__zoomIn {
    --animate-duration: 4s;
}

.trans {
    height: 100px;
    transition: height 2s;
}

.trans:hover{
    height: 200px;
}

.textoCarrusel {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

