@import "mixin";

$fondo: linear-gradient(to left,rgb(192, 192, 192), white);
$borderBox : 0 3px 10px 0px rgb(36, 34, 34);
$flex : flex;
$block: block;
* {
    @include recet;
}

html {
    scroll-behavior: smooth;
}

h4 {
    color: rgb(223, 130, 146);
}

h5 {
    color: black;
}

p {
    color: rebeccapurple;
}

body { 
    background-image: $fondo;
}

article {
  @include article (rgb(224, 149, 162));  
}

                                                                  /* ANIMACIONES */
.animate__animated.animate__heartBeat { 
    --animate-duration: 3s;
  }

.animate__animated.animate__backInDown {
    --animate-duration: 2s;
}

.animate__animated.animate__flipInX  {
    --animate-duration: 5s;
}

.animate__animated.animate__slideInLeft  {
    --animate-duration: 4s;
}
.animate__animated.animate__zoomIn {
    --animate-duration: 8s;
}

.animate__animated.animate__pulse {
    --animate-duration: 5s;
}

.animate__slideOutLeft {
    --animate-duration: 10s;
}
.animate__fadeIn {
    --animate-duration: 10s;
}

.trans {
    height: 100px;
    transition: height 2s;
}

.trans:hover{
    height: 200px;
}

.textoCarrusel {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

.NuevoFooter {
    background-image: url(../multimedia/background-maderaBlanca.jpg);
    height:auto;
    width: auto;
}

.fondoConoceme {
    @include fondoConoceme ($borderBox)
}

.FondoReserva {
    @include fondoReserva ($borderBox)
}

.FondoPreguntasF {
    @include FondoPreguntasf ($borderBox);
}


.redes-container {
    @include redes-container ($flex);
}

.NavFooter {
    @include NavFooter ($block);
}

.columna1footer {
   @include columna1footer ($flex);
}

.primeraSesion {
    @include primeraSesion ($borderBox)
}

.LIC {
    display: flex;
    align-items: flex-end;
}



.click {
   font-size: 30px;
    color: black;
    a:hover {
        color: rgb(223, 130, 146);
    }
}


.clickEmail {
    font-size: 30px;
    color: black;
     a:hover {
        color:rgb(223, 130, 146);
     }
}


.img-fluid {
    box-shadow:  0 3px 20px 0px rebeccapurple;
}

.TextoConoceme {
    color: rebeccapurple;
}

.cajitas {
    margin: 50px;
    padding: 50px;
    text-align: center;  
    box-shadow: $borderBox;
}

.preguntas {
    box-shadow: $borderBox;
}




